@import url('node_modules/bootstrap/dist/css/bootstrap.css');
@import url('node_modules/@arcgis/core/assets/esri/themes/light/main.css');

.card-body p.card-text {
    white-space: pre-wrap;
}

.card-title a {
    text-decoration: none;
}
    
#map {
    width: 100%;
    height: 300px;
}

#creatorCard .card-body {
    cursor: pointer;
}

#stars span {
    cursor: pointer;
}

#comments .list-group-item a {
    text-decoration: none;
}
