<form class="mt-4" (ngSubmit)="addRestaurant()" [formGroup]="restaurantForm">
  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" formControlName="name"
      [ngClass]="validClasses(nameControl, 'is-valid', 'is-invalid')" />
    <div class="invalid-feedback" *ngIf="restaurantForm.get('name')?.touched && restaurantForm.get('name')?.invalid">
    </div>
    <div class="invalid-feedback" *ngIf="nameControl.errors?.['required'] ">
      Name is required.
    </div>
    <div class="invalid-feedback" *ngIf=" nameControl.errors?.['pattern']">
      Name can only contain letters and spaces and start with a letter.
    </div>
    <div class="invalid-feedback" *ngIf="nameControl.errors?.['minlength']">
      Name must be at least {{nameControl.errors?.['minlength'].requiredLength -nameControl.errors?.['minlength'].actualLength}} characters more
    </div>
  </div>
  <div class="mb-3">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Description"
      formControlName="description" [ngClass]="validClasses(descControl, 'is-valid', 'is-invalid')"></textarea>
    <div class="invalid-feedback" *ngIf="descControl.errors?.['required']">
      Description is required.
    </div>
    <div class="invalid-feedback" *ngIf="descControl.errors?.['minlength']">
      You must enter at least {{descControl.errors?.['minlength'].requiredLength -
      descControl.errors?.['minlength'].actualLength}} characters more
    </div>
  </div>
  <div class="mb-3">
    <label for="cuisine">Cuisine</label>
    <input type="text" class="form-control" name="cuisine" id="cuisine" placeholder="Cuisine" formControlName="cuisine"
      [ngClass]="validClasses(cuisineControl, 'is-valid', 'is-invalid')" />
    <div class="invalid-feedback" *ngIf="cuisineControl.errors?.['required']">
      Cuisine is required.
    </div>
  </div>
  <p>Opening days</p>
  <div class="mb-3" formArrayName="days" oneChecked>
    <div class="form-check form-check-inline" *ngFor="let day of days; let i = index"
      [ngClass]="validClasses(daysControl, 'is-valid', 'is-invalid')">
      <input type="checkbox" name="days" id="checkDay{{ i }}" formControlName="{{i}}" checked>
      <label class="custom-control-label ms-2" for="checkDay{{ i }}">
        {{ day }}
      </label>
    </div>
    <br>
    <div class="invalid-feedback" *ngIf="daysControl.hasError('oneCheckedError')">
      Must select at least 1 day
    </div>
  </div>
  <div class="mb-3">
    <label for="phone">Phone number</label>
    <input type="text" class="form-control" id="phone" name="phone" placeholder="Phone number" formControlName="phone"
      [ngClass]="validClasses(phoneControl, 'is-valid', 'is-invalid')" />
    <div class="invalid-feedback" *ngIf="phoneControl.errors?.['required'] ">
      Phone is required.
    </div>
    <div class="invalid-feedback" *ngIf=" phoneControl.errors?.['pattern']">
      Phone must have 9 numbers.
    </div>
  </div>
  <!-- ADRESS INPUT -->

  <div class="mb-3">
    <label for="address">Address</label>
    <!--
    <input placeholder="C/Caritama, 32, Bonabo, Isru" type="text" class="form-control" id="address" readOnly="true" name="address" formControlName="address">
    -->
    <input placeholder="C/Caritama, 32, Bonabo, Isru" type="text" class="form-control" id="address" name="address"
    formControlName="address" [ngClass]="validClasses(addressControl, 'is-valid', 'is-invalid')">
    <div class="invalid-feedback" *ngIf="addressControl.invalid && addressControl.touched">
      Address is required.
    </div>
  </div>
  <arcgis-map [coords]="[newRestaurant.lng, newRestaurant.lat]">
    <arcgis-marker [coords]="[newRestaurant.lng, newRestaurant.lat]" color="red"></arcgis-marker>
    <arcgis-search position="top-right" (result)="searchResult($event)"></arcgis-search>
  </arcgis-map>
  <!-- IMAGE INPUT -->
  <div class="mb-3">
    <label for="image">Image</label>
    <input type="file" class="form-control" id="image" name="image" accept="image/*" #fileImage
      (change)="changeImage(fileImage)" formControlName="image"
      [ngClass]="validClasses(imageControl, 'is-valid', 'is-invalid')" />
    <div class="invalid-feedback" *ngIf="imageControl.errors?.['required']">An image is required.</div>
  </div>
  <img [src]="newRestaurant.image" [ngClass]="{ 'd-none': !newRestaurant.image }" class="img-thumbnail mb-3" />

  <div>
    <button [disabled]="restaurantForm.invalid" type="submit" class="btn btn-primary">
      {{ editing ? "Edit" : "Create" }}
    </button>
  </div>
</form>
<!--
  DEBUGGING
<p>{{restaurantForm.value | json}}</p>
<br>
  <p>
    {{daysControl.errors?.['oneCheckedError']}}
  </p>
-->
