<!-- CREATE TEMPLATE BASED ON HTML CODE OF ROW
    DO NOT INCLUDE PARENT!! (TR) -->
<td>
    <img src="{{img}}" />
</td>
<td>{{name}}</td>
<td>{{description}}</td>
<td>
    <button>Delete</button>
</td>