<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'/restaurants'">FoodScore</a>
    <ul class="navbar-nav me-auto mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'/restaurants'" [routerLinkActive]="['active']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'./restaurants/add'" [routerLinkActive]="['active']">New restaurant</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link"  [routerLink]="'/auth/login'" [routerLinkActive]="['active']">Login</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" [routerLink]="'/users/me'" [routerLinkActiveOptions]="{ exact: true }">My profile</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" (click)="onClickLogout()">Logout</a>
      </li>
    </ul>

  </div>
</nav>
