<div class="container">
  <div id="profile">
    <div class="row mt-4">
      <div class="col-3">
        <img class="w-100" id="avatar" [src]="user.avatar" alt="">
      </div>
      <div class="col-9">
        <h4>{{user.name}}</h4>
        <h4>
          <small class="text-muted">{{user.email}}</small>
        </h4>
        <p *ngIf="me">
          <a [routerLink]="['/users/edit']" routerLinkActive="router-link-active" class="btn btn-primary">Edit profile</a>
        </p>
        <p>
          <a [routerLink]="['/restaurants']" [queryParams]="{ creator: user.id }">See owned restaurants</a>
        </p>
      </div>
    </div>
  </div>
  <div class="card mt-4" *ngIf="user.lat && user.lng">
    <div class="card-header bg-success text-white" id="address">User location</div>
    <arcgis-map [coords]="[longitude, latitude]">
      <arcgis-marker
      [coords]="[longitude, latitude]"
      color="red"
      ></arcgis-marker>
     </arcgis-map>
  </div>
</div>
